@use '../../global/b2b-styles';

:host {
  display: block;
  padding: var(--b2b-size-15) var(--b2b-size-30) 5px var(--b2b-size-30);
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

:host(.b2b-flyout-menu__option:hover),
:host(.b2b-flyout-menu__option:focus) {
  background-color: var(--b2b-color-hover-default);
  outline: none;
}

:host(.b2b-flyout-menu__option--disabled):hover,
:host(.b2b-flyout-menu__option--disabled:focus) {
  background-color: transparent; // Reset background to avoid highlighting
  color: var(
    --b2b-color-grey-200
  ); // Optional: maintain the disabled text color
}

:host(.b2b-flyout-menu__option--disabled) {
  pointer-events: none;
  color: var(--b2b-color-grey-200);
}

:host(.b2b-flyout-menu__option--separator) {
  border-bottom: 1px solid var(--b2b-color-grey-200);
}
