@use '../../global/b2b-styles';

$switch-width: 40px;
$switch-height: 20px;
$slider-size: 16px;
$slider-surround: 2px;
$border-radius: 3px;
$transition-size: 20px;
$special-grey: #b1b1b1;

.b2b-toggle {
  display: flex;
  font-family: var(--b2b-font-family-default);

  &__icon {
    position: absolute;
    fill: var(--b2b-color-success-100);
    display: inline-block;
    margin-top: var(--b2b-size-space-25);
    margin-left: var(--b2b-size-space-150);
    width: var(--b2b-size-30);
    height: var(--b2b-size-30);
    z-index: 1000;
    opacity: 0;
    cursor: pointer;

    &__show {
      .b2b-toggle__icon {
        transition: opacity 1s;
        transition: opacity 1s ease;
        opacity: 1;
      }
    }
  }

  &__left {
    display: flex;
    flex-direction: row-reverse;
  }

  &__right {
    display: flex;
    flex-direction: row;
  }

  &__input {
    display: none;

    &:checked + .b2b-toggle__label .b2b-toggle__switch {
      &::before {
        background-color: var(--b2b-color-success-100);
      }

      &::after {
        background-color: var(--b2b-color-white-100);
        transform: translateX($transition-size);
      }
    }
  }

  &__label {
    align-items: center;
    cursor: pointer;
  }

  &__switch {
    position: relative;
    display: flex;
    width: $switch-width;
    height: $switch-height;

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      width: $switch-width;
      height: $switch-height;
      border-radius: $border-radius;
      background-color: var(--b2b-color-grey-200);
      transition: background-color 0.3s ease;
    }

    &::after {
      top: $slider-surround;
      left: $slider-surround;
      width: $slider-size;
      height: $slider-size;
      border-radius: $border-radius;
      background-color: var(--b2b-color-white-100);
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
    }
  }

  &--disabled {
    .b2b-toggle__switch::after {
      background-color: var(--b2b-color-grey-100);
    }

    .b2b-toggle__icon {
      fill: $special-grey;
    }

    .b2b-toggle__input:checked + .b2b-toggle__label .b2b-toggle__switch {
      &::before {
        background-color: $special-grey; // special color from figma
      }

      &::after {
        background-color: var(--b2b-color-grey-100);
        transform: translateX($transition-size);
      }
    }
  }

  &__text-left {
    margin-top: var(--b2b-size-5);
    margin-right: var(--b2b-size-space-50);
  }

  &__text-right {
    margin-top: var(--b2b-size-5);
    margin-left: var(--b2b-size-space-50);
  }
}
