version: '3.8'

services:
  storybook:
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6006"]
      interval: 5s
      timeout: 20s
      retries: 5
    build:
      context: .
      dockerfile: test.Dockerfile
    ports:
      - "6006:6006"
    command: npm run storybook -- -h 0.0.0.0
    working_dir: /b2b/packages/core-components
    volumes:
      - ./packages/core-components/__snapshots__:/b2b/packages/core-components/__snapshots__

  run-tests:
    build:
      context: .
      dockerfile: test.Dockerfile
    depends_on:
      storybook:
        condition: service_healthy
    command: npx test-storybook --verbose --url http://storybook:6006 --config-dir packages/core-components/.storybook
