@use '../../global/b2b-styles';

.b2b-snackbar {
  border-radius: var(--b2b-size-30);
  font-family: var(--b2b-font-family-default);
  font-size: var(--b2b-size-copy-100);
  line-height: var(--b2b-size-copy-line-height-100);
  color: var(--b2b-color-copy-default);
  max-width: 1000px;
  max-height: 56px;
  min-height: 48px;
  box-shadow: 0 var(--b2b-size-1) var(--b2b-size-10) 0 #00000040;
  width: max-content;
  z-index: 10000;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  position: fixed;
  bottom: var(--b2b-size-100);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-out, visibility 0s linear 400ms;

  &--opened {
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease-in;
  }

  &--success__icon,
  &--error__icon,
  &--info__icon,
  &--warning__icon {
    margin: 11px 10px 9px 12px;
    align-self: center;
    color: var(--b2b-color-black-100);
    width: var(--b2b-size-70);
    height: var(--b2b-size-70);
    flex-shrink: 0;
  }

  &--info {
    background-color: #78ace0;
  }

  &--warning {
    background-color: #f9c659;
  }

  &--error {
    background-color: #fa5f5f;
  }

  &--success {
    background-color: #97d955;
  }

  &__close-icon {
    margin: 9px 12px 7px 0;
    padding: var(--b2b-size-10);
    width: var(--b2b-size-60);
    height: var(--b2b-size-60);
    cursor: pointer;
    flex-shrink: 0;
    border-radius: var(--b2b-size-7);

    &--success:hover {
      background-color: #85bf4b;
    }

    &--warning:hover {
      background-color: #e0b350;
    }

    &--error:hover {
      background-color: #e05555;
    }

    &--info:hover {
      background-color: #6b99c7;
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;

    p {
      width: 100%;
      margin-top: 14.5px;
      margin-bottom: 12.5px;
      font-weight: var(--b2b-font-weight-bold);
    }

    &__description {
      padding-right: var(--b2b-size-padding-50);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__action {
    display: flex;
    white-space: nowrap;
    padding: 5.5px var(--b2b-size-padding-50);
    margin: 9px var(--b2b-size-25) 7px 0;
    border-radius: var(--b2b-size-7);
    text-align: right;
    user-select: none;
    cursor: pointer;

    a {
      text-decoration: underline;
      font-weight: var(--b2b-font-weight-normal);
      max-height: var(--b2b-size-copy-line-height-100);
      max-width: 100%;
    }

    &--success:hover {
      background-color: #85bf4b;
    }

    &--warning:hover {
      background-color: #e0b350;
    }

    &--error:hover {
      background-color: #e05555;
    }

    &--info:hover {
      background-color: #6b99c7;
    }
  }
}
