@use 'sass:color';
@use '../../global/b2b-styles';

:host {
  // related to B2BDS-237
  z-index: 0;
  width: fit-content;
  height: fit-content;
  position: relative;

  .b2b-anchor {
    font-family: var(--b2b-font-family-default);
    color: var(--b2b-color-copy-default);
    text-decoration: underline;
    transition: all 0.3s ease;

    // related to B2BDS-237
    z-index: 1001;
    position: relative;

    &--100 {
      font-size: var(--b2b-size-copy-100);
    }

    &--inherit {
      font-size: inherit;
    }

    &-hover--default{
      &:hover {
        color: var(--b2b-color-red-100);
        cursor: pointer;
      }
    }
    &-hover--inherit {
      &:hover {
        color: inherit;
        cursor: pointer;
      }
    }

  }
}
