@use '../../global/b2b-styles';

:host(.b2b-background-box) {
  display: block;
  background: var(--b2b-color-background-box);
  border: var(--b2b-size-1) solid var(--b2b-color-border-100);
  padding: calc(0.75rem * 2);
}

:host(.b2b-background-box--max-width.b2b-background-box--no-padding) {
  max-width: 90rem;
  padding: unset;
}

:host(.b2b-background-box--max-width) {
  max-width: 90rem;
}

:host(.b2b-background-box--no-padding) {
  padding: unset;
}

:host(.b2b-background-box--hide-border-top) {
  border-top: 0;
}

:host(.b2b-background-box--hide-border-right) {
  border-right: 0;
}

:host(.b2b-background-box--hide-border-bottom) {
  border-bottom: 0;
}

:host(.b2b-background-box--hide-border-left) {
  border-left: 0;
}
