@use 'sass:color';
@use '../../global/b2b-styles';

.host {
  .b2b-calender-days {
    margin-left: 16px;
  }
}

.b2b-calender-days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Display days in a grid */

  .b2b-calender-day {
    width: 36px;
    height: 22px;
    border-radius: 5px;
    padding: 5px 0;
    text-align: center;

    &:hover,
    &:focus {
      background-color: var(--b2b-color-table-selected-hover);
    }

    &--disabled {
      width: 36px;
      height: 22px;
      border-radius: 5px;
      padding: 5px 0;
      text-align: center;
      pointer-events: none;
      color: var(--b2b-color-grey-200);
    }
    &--today {
      border: 1px solid var(--b2b-color-black-50);
    }
    &--selected {
      background-color: var(--b2b-color-black-100);
      color: var(--b2b-color-white-100);
      pointer-events: none;
    }
  }
}
