:host {
  .b2b-calendar {
    position: relative;
  }

  .b2b-calender-input-wrapper {
    display: flex;
    width: 300px;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid black;
    justify-content: flex-end;
    z-index: 1000;
    border-radius: 3px 3px 0 0;
    padding: 6px 8px;
  }

  .b2b-calendar-selected-date {
    flex: 1;
  }

  .b2b-calendar-label {
    font-size: var(--b2b-size-35);
    color: var(--b2b-color-black-100);
    line-height: 21px;
  }

  .b2b-datepicker {
    border: 1px solid black;
    border-top: none;
    width: 300px;
    height: 278px;
    padding: 12px 24px;
    box-sizing: border-box;
  }

  .b2b-icons {
    display: flex;
    margin-top: 2px;
    align-items: center;
  }
}
