:host {
  .b2b-calender {
    position: relative;
  }

  .calender-selected-date-wrapper {
    display: flex;
  }

  .b2b-calender-input-wrapper {
    display: flex;
    width: 300px;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid black;
    justify-content: flex-end;
    z-index: 1000;
  }

  .calendar-selected-date {
    margin: 3px 0 3px 10px;
    flex: 1;
  }

  .b2b-datepicker {
    border: 1px solid black;
    border-top: none;
    width: 300px;
    height: 278px;
    padding: 12px 24px;
    box-sizing: border-box;
  }

  .b2b-icons {
    display: flex;
    z-index: 1000;
  }
}
