@use '../../global/b2b-styles';

:root,
:host {
  .b2b-calendar-days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Display days in a grid */
    padding: 0 var(--b2b-size-40) 0 var(--b2b-size-40);

    .b2b-calendar-day {
      width: var(--b2b-size-90);
      height: var(--b2b-size-55);
      border-radius: 5px;
      text-align: center;
      font-weight: var(--b2b-font-weight-normal);
      color: var(--b2b-color-black-100);
      font-size: var(--b2b-size-35);
    }
  }
}
