@use 'sass:color';
@use '../../global/b2b-styles';

:root,
:host {
  --b2b-border-radius: var(--b2b-size-border-radius-100);

  .calendar-header {
    display: flex;
    box-sizing: border-box;
  }

  .calendar-nav {
  height: 32px;
  width: 32px;
    background-color: var(--b2b-color-grey-25);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: var(--b2b-color-table-selected-hover);
    }

  }

  .calendar-month {
    height: 32px;
    width: 82px;
    padding: 4px 8px;
    margin: 0 8px;
    background-color: var(--b2b-color-grey-25);
    box-sizing: border-box;
    text-align: center;
    &:hover,
    &:focus {
      background-color: var(--b2b-color-table-selected-hover);
    }

  }

  .calendar-year {
    height: 32px;
    width: 82px;
    padding: 4px 8px;
    margin: 0 8px;
    background-color: var(--b2b-color-grey-25);
    box-sizing: border-box;
    text-align: center;
    &:hover,
    &:focus {
      background-color: var(--b2b-color-table-selected-hover);
    }


  }
}
