@use '../../global/b2b-styles';

:host {
  .b2b-calendar {
    position: relative;
    z-index: 1000;

    &__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  .b2b-calendar-input-wrapper {
    display: flex;
    box-sizing: border-box;
    height: var(--b2b-size-90);
    border: var(--b2b-size-1) solid var(--b2b-color-black-100);
    justify-content: flex-end;
    border-radius: var(--b2b-size-7);
    padding: var(--b2b-size-15) var(--b2b-size-20);
    max-width: 600px;
    background-color: var(--b2b-color-white-100);

    &--opened {
      border-radius: var(--b2b-size-7) var(--b2b-size-7) 0 0;
    }
  }

  .b2b-calendar-selected-date {
    flex: 1;
    align-self: center;
    font-size: var(--b2b-size-35);
  }

  .b2b-calendar-label {
    font-size: var(--b2b-size-35);
    color: var(--b2b-color-black-100);
    line-height: var(--b2b-size-copy-line-height-100);
    margin-bottom: var(--b2b-size-5);
  }

  .b2b-calendar-body {
    position: relative;
    z-index: 1000;
    border: var(--b2b-size-1) solid var(--b2b-color-black-100);
    border-top: none;
    width: 300px;
    box-sizing: border-box;
    padding-bottom: var(--b2b-size-40);
    background-color: var(--b2b-color-white-100);

    &--hidden {
      display: none;
    }
  }

  .b2b-icons {
    display: flex;
    margin-top: var(--b2b-size-5);
    align-items: center;
  }

  .b2b-close-icon {
    display: block;

    &--hidden {
      display: none;
    }
  }
}
