@use '../../global/b2b-styles';

:host {
  .b2b-calendar {
    position: relative;
  }

  .b2b-calender-input-wrapper {
    display: flex;
    box-sizing: border-box;
    height: var(--b2b-size-90);
    border: var(--b2b-size-1) solid var(--b2b-color-black-100);
    justify-content: flex-end;
    border-radius: var(--b2b-size-7);
    padding: var(--b2b-size-15) var(--b2b-size-20);

    &--opened {
      border-radius: var(--b2b-size-7) var(--b2b-size-7) 0 0;
    }
  }

  .b2b-calendar-selected-date {
    flex: 1;
  }

  .b2b-calendar-label {
    font-size: var(--b2b-size-35);
    color: var(--b2b-color-black-100);
    line-height: var(--b2b-size-copy-line-height-100);
    margin-bottom: var(--b2b-size-5);
  }

  .b2b-datepicker {
    border: var(--b2b-size-1) solid var(--b2b-color-black-100);
    border-top: none;
    width: 300px;
    box-sizing: border-box;
    padding-bottom: var(--b2b-size-40);
  }

  .b2b-icons {
    display: flex;
    margin-top: var(--b2b-size-5);
    align-items: center;
  }
}
