@use 'sass:color';
@use '../../global/b2b-styles';

.b2b-radio {
  font-family: var(--b2b-font-family-default);
  font-size: var(--b2b-size-copy-100);
  width: fit-content;
  margin-bottom: var(--b2b-size-5);
  margin-right: var(--b2b-size-60);

  &-items {
    display: flex;
    justify-content: flex-start;
  }

  &-input {
    appearance: none;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-shadow: inset 0 1px 0 var(--b2b-color-grey-400),
      inset 0 -1px 0 var(--b2b-color-grey-400),
      inset -1px 0 0 var(--b2b-color-grey-400),
      inset 1px 0 0 var(--b2b-color-grey-400);
    width: var(--b2b-size-40);
    height: var(--b2b-size-40);
    padding: 0;
    margin: var(--b2b-size-5) var(--b2b-size-15) 3px 0;
    flex-shrink: 0;

    &:checked {
      background-color: var(--b2b-color-black-50);
      box-shadow: inset 0 1px 0 var(--b2b-color-black-50),
        inset 0 -1px 0 var(--b2b-color-black-50),
        inset -1px 0 0 var(--b2b-color-black-50),
        inset 1px 0 0 var(--b2b-color-black-50);

      &::after {
        content: ' ';
        display: block;
        position: relative;
        background-color: var(--b2b-color-white-100);
        border-radius: 50%;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
      }
    }
  }

  b2b-input-label {
    user-select: none;
  }

  span {
    font-size: var(--b2b-size-copy-75);
    line-height: var(--b2b-size-copy-line-height-75);
    color: var(--b2b-color-grey-300);
    display: block;
    margin-top: 1px;
  }

  &--error {
    .b2b-radio-input {
      background-color: var(--b2b-color-error-50);
      box-shadow: inset 0 1px 0 var(--b2b-color-error-100),
        inset 0 -1px 0 var(--b2b-color-error-100),
        inset -1px 0 0 var(--b2b-color-error-100),
        inset 1px 0 0 var(--b2b-color-error-100);

      &:checked {
        &::after {
          background-color: var(--b2b-color-error-100);
        }
      }
    }

    span {
      color: var(--b2b-color-error-100);
    }
  }

  &--disabled {
    .b2b-radio-input {
      box-shadow: inset 0 1px 0 var(--b2b-color-grey-300),
        inset 0 -1px 0 var(--b2b-color-grey-300),
        inset -1px 0 0 var(--b2b-color-grey-300),
        inset 1px 0 0 var(--b2b-color-grey-300);

      &:checked {
        background-color: var(--b2b-color-grey-300);
      }
    }
  }
}
