@use '../../global/b2b-styles';

:host {
  width: 100%;
}

.b2b-custom-dropdown__trigger {
  position: relative;
  display: inline !important;
  cursor: pointer;
}

.b2b-custom-dropdown {
  display: none;

  &--on {
    display: block;
    border: 1px solid var(--b2b-color-grey-200);
  }
}

.b2b-custom-dropdown-search {
  padding: var(--b2b-size-30);
  display: none;

&--enabled {
    display: block;
  }
}

.b2b-custom-dropdown__options-scroll-container {
  position: relative;
  display: block;
  min-height: calc(6 * 48px);
  max-height: calc(6 * 69px);;
  overflow-y: auto;
  margin: 0;
}

.b2b-custom-dropdown__options-container {
  position: relative;
  display: block;
  margin: 0;
}
