:host(.b2b-grid) {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

:host(.b2b-grid-row) {
  display: flex;
  flex-wrap: wrap;
}

:host(.b2b-grid-col) {
  display: flex;
  flex-direction: column;
}

.b2b-grid-col > .b2b-grid-row {
  flex: 1;
}
