@use '../../global/b2b-styles';

:host {
  .b2b-toggle-chip {
    font-size: var(--b2b-size-copy-100);
    line-height: var(--b2b-size-copy-line-height-100);
    display: inline-block;
    min-width: var(--b2b-size-90);
    min-height: var(--b2b-size-80);
    max-height: var(--b2b-size-80);

    &__input {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      width: 1px;

      &:focus + label {
        outline: 2px solid -webkit-focus-ring-color;
        z-index: 1;
        transition: none;
      }
    }

    &__label {
      display: inline-block;
      border: 1px solid var(--b2b-color-grey-200);
      padding: var(--b2b-size-15) var(--b2b-size-30) 5px var(--b2b-size-30);
      border-radius: var(--b2b-size-50);
      color: var(--b2b-color-black-100);
      background-color: var(--b2b-color-white-100);

      &:hover {
        background-color: var(--b2b-color-hover-default);
        color: var(--b2b-color-black-100);
        cursor: pointer;
        transition: all 0.3s ease;
      }

      &:active {
        background-color: #d4e0eb;
        color: var(--b2b-color-black-100);
        transition: all 0.3s ease;
      }

      &--active {
        color: var(--b2b-color-white-100);
        background-color: var(--b2b-color-black-100);
        border: 1px solid var(--b2b-color-black-100);

        &:hover {
          cursor: pointer;
          background-color: var(--b2b-color-hover-black);
          border: 1px solid var(--b2b-color-hover-black);
          color: var(--b2b-color-grey-100);
        }
      }

      &--disabled {
        background-color: var(--b2b-color-grey-25);
        color: var(--b2b-color-grey-200);
        user-select: none;

        &:hover {
          cursor: default;
          background-color: var(--b2b-color-grey-25);
          color: var(--b2b-color-grey-200);
        }
      }

      &--active-disabled {
        background-color: var(--b2b-color-black-100); border: 1px solid var(--b2b-color-black-100); color: var(--b2b-color-grey-300);
        
        &:hover {
          cursor: default;
          background-color: var(--b2b-color-black-100);
          color: var(--b2b-color-grey-300);
        }
      }
    }
  }
}
