@use '../../global/b2b-styles';

:host {
  .b2b-input-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex: 0 0 auto;
  }

  .b2b-input-wrapper-hint {
    font-size: var(--b2b-size-copy-75);
    line-height: var(--b2b-size-copy-line-height-75);
    display: block;
    margin-top: var(--b2b-size-10);
    color: var(--b2b-color-grey-300);

    &--error {
      color: var(--b2b-color-error-100);
    }
  }
}

/* purgecss start ignore */
::slotted(*[slot='start']) {
  --b2b-border-radius: var(--b2b-size-border-radius-100) 0 0
    var(--b2b-size-border-radius-100);
  --b2b-border-right: 0;
}

::slotted(*) {
  --b2b-border-radius: 0;
  --b2b-border-right: 0;
}

::slotted(*[slot='end']) {
  --b2b-border-radius: 0 var(--b2b-size-border-radius-100)
    var(--b2b-size-border-radius-100) 0;
  --b2b-border-right: 1px solid var(--b2b-color-grey-200);
}

/* purgecss end ignore */
