@use '../../../global/b2b-styles';

:host {
  border-bottom: 1px solid var(--b2b-color-grey-200);
  display: table-row;

  .b2b-table-row__accordion-icon {
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
    padding: 0;
    background-color: transparent;
    border: none;

    &--open {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }
}

:host(.b2b-table-row--color-default) {
  background-color: inherit;
}

:host(.b2b-table-row--color-selected) {
  background-color: var(--b2b-color-table-selected-default);
}

:host(.b2b-table-row--color-group) {
  background-color: var(--b2b-color-table-expand-default);
}

:host(.b2b-table-row--color-default:hover) {
  background-color: inherit;
}

/* purgecss start ignore */
:host(.b2b-table-row--highlight:hover) {
  background-color: var(--b2b-color-table-hover);

  ::slotted(*) {
    --b2b-table-cell-text-expand-bg: var(--b2b-color-table-hover);
  }
}

:host(.b2b-table-row--color-selected:hover) {
  background-color: var(--b2b-color-red-100);

  ::slotted(*) {
    --b2b-table-cell-text-expand-bg: var(--b2b-color-red-100);
  }
}

:host(.b2b-table-row--color-group:hover) {
  background-color: var(--b2b-color-table-expand-hover);

  ::slotted(*) {
    --b2b-table-cell-text-expand-bg: var(--b2b-color-table-expand-hover);
  }
}

.b2b-table-header__control-cell {
  /* For equal width the control cell will automatically grow.
  We should fix the size and this size
   */
  max-width: 44px;
}

/* purgecss end ignore */
