@use '../../../global/b2b-styles';

:host {
  border-bottom: 1px solid var(--b2b-color-grey-200);
  display: table-row;

  .b2b-table-row__accordion-icon {
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
    padding: 0;
    background-color: transparent;
    border: none;

    &--open {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }
}

:host(.b2b-table-row--colspan) {
  flex-flow: row nowrap;
  display: flex;
}

:host(.b2b-table-row--color-default) {
  background-color: inherit;
}

:host(.b2b-table-row--color-selected) {
  background-color: var(--b2b-color-table-selected-default);
}

:host(.b2b-table-row--color-group) {
  background-color: var(--b2b-color-table-expand-default);
}

:host(.b2b-table-row--color-default:hover) {
  background-color: inherit;
}

/* purgecss start ignore */
:host(.b2b-table-row--highlight:hover) {
  background-color: var(--b2b-color-hover);

  ::slotted(*) {
    --b2b-table-cell-text-expand-bg: var(--b2b-color-hover);
  }
}

:host(.b2b-table-row--color-selected:hover) {
  background-color: var(--b2b-color-table-selected-default);

  ::slotted(*) {
    --b2b-table-cell-text-expand-bg: var(--b2b-color-table-selected-default);
  }
}

:host(.b2b-table-row--color-group:hover) {
  background-color: var(--b2b-color-hover);

  ::slotted(*) {
    --b2b-table-cell-text-expand-bg: var(--b2b-color-hover);
  }
}

.b2b-table-row__control-cell {
  &--checkbox {
    flex: 0 0 var(--b2b-size-40);
    width: var(--b2b-size-40);
  }

  &--accordion {
    flex: 0 0 var(--b2b-size-60);
    width: var(--b2b-size-60);
  }
}

/* purgecss end ignore */
