.b2b-input-label {
  font-size: var(--b2b-size-copy-100);
  font-family: var(--b2b-font-family-default);
  line-height: var(--b2b-size-copy-line-height-2);

  &--required {
    slot::after {
      content: ' *';
      color: var(--b2b-color-red-100);
    }
  }

  &--disabled {
    color: var(--b2b-color-grey-300);
  }
}
