.b2b-input-label {
  font-size: var(--b2b-size-copy-100);
  line-height: var(--b2b-size-copy-line-height-100);
  color: var(--b2b-color-black-100);

  &--required {
    slot::after {
      content: ' *';
      color: var(--b2b-color-red-100);
    }
  }

  &--disabled {
    color: var(--b2b-color-grey-300);
  }
}
