@use '../../global/b2b-styles';

:host {
  text-align: left;
  width: 100%;
}

:host(.b2b-table--expand) {
  display: table;
}

:host(.b2b-table--equal) {
  display: table;
  table-layout: fixed;
}

:host(.b2b-table--colspan) {
  display: block;
}
