@use '../../global/b2b-styles';

:host {
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

:host(.b2b-table--expand) {
  width: 100%;
}

:host(.b2b-table--equal) {
  width: 100%;
}
