@use '../../global/b2b-styles';

:host(.b2b-dropdown) {
  --b2b-border-radius: var(--b2b-size-border-radius-100);
  --b2b-border-right: 1px solid var(--b2b-color-grey-200);

  display: block;
  position: relative;
  width: 100%;
  min-width: fit-content;
  font-family: var(--b2b-font-family-default);
  font-size: var(--b2b-size-copy-100);
  max-width: 600px;

  .b2b-dropdown__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
  }

  .b2b-dropdown__clear-icon {
    position: absolute;
    right: 3rem;
    top: 40%;
    transform: translateY(-60%);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    z-index: 2;
  }

  .b2b-dropdown__select {
    font-family: var(--b2b-font-family-default);
    font-size: var(--b2b-size-copy-100);
    appearance: none;
    background-color: var(--b2b-color-white-100);
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M27.748 12.017l-11.333 9.01a.666.666 0 0 1-.829 0l-11.333-9a.665.665 0 1 1 .829-1.044l10.919 8.671 10.919-8.68a.663.663 0 0 1 .936.107.667.667 0 0 1-.107.937z"/></svg>');
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    width: 100%;
    min-width: fit-content;
    border: 1px solid var(--b2b-color-grey-200);
    border-right: var(--b2b-border-right);
    border-radius: var(--b2b-border-radius);
    padding: 7px 11px 6px;
    padding-right: calc(1.75rem + 6px);
    height: var(--b2b-size-90);
    line-height: var(--b2b-size-copy-line-height-100);
    box-sizing: border-box;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;

    &--focused {
      outline: 2px solid Highlight;
      outline: 2px solid -webkit-focus-ring-color;
      border-radius: var(--b2b-border-radius);
      outline-offset: -1px;
      z-index: 300;
    }

    &--open {
      outline: 2px solid Highlight;
      outline: 2px solid -webkit-focus-ring-color;
      border-radius: var(--b2b-border-radius);
      outline-offset: -1px;
      z-index: 1001;
    }
  }

  .b2b-dropdown__options {
    display: block;
    background-color: var(--b2b-color-white-100);
    max-height: calc(8 * 36px);
    overflow-y: auto;
    margin: 0;
    border-right: var(--b2b-size-1) solid var(--b2b-color-black-100);
    border-left: var(--b2b-size-1) solid var(--b2b-color-black-100);
    border-bottom: var(--b2b-size-1) solid var(--b2b-color-black-100);
    margin-top: 0;
    border-top: none;
    text-align: left;
    top: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    white-space: pre-wrap;
  }

  .b2b-dropdown__option {
    padding: 10px;
    cursor: pointer;
    font-size: var(--b2b-size-copy-100);
    margin-top: 0;
    border-top: none;
    display: block;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: var(--b2b-color-hover-default);
    }

    &--disabled {
      color: var(--b2b-color-grey-250);
      background-color: var(--b2b-color-white-100);
      pointer-events: none;
    }

    &--selected {
      background-color: var(--b2b-color-black-100);
      color: var(--b2b-color-white-100);
    }
  }

  b2b-input-label {
    display: block;
    margin-bottom: var(--b2b-size-5);
  }

  span {
    display: block;
    color: var(--b2b-color-grey-300);
    margin-top: var(--b2b-size-10);
    font-size: var(--b2b-size-copy-50);
    line-height: var(--b2b-size-copy-line-height-75);
  }
}

:host(.b2b-dropdown--error) {
  .b2b-dropdown__select {
    background-color: var(--b2b-color-error-50);
    border: 1px solid var(--b2b-color-error-100);
    border-right: var(--b2b-border-right);
    border-color: var(--b2b-color-error-100);

    &:focus {
      outline: 2px solid var(--b2b-color-error-100);
      outline-offset: -1px;
    }
  }

  span {
    color: var(--b2b-color-error-100);
  }
}

:host(.b2b-dropdown--disabled) {
  .b2b-dropdown__select {
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="grey" viewBox="0 0 32 32"><path d="M27.748 12.017l-11.333 9.01a.666.666 0 0 1-.829 0l-11.333-9a.665.665 0 1 1 .829-1.044l10.919 8.671 10.919-8.68a.663.663 0 0 1 .936.107.667.667 0 0 1-.107.937z"/></svg>');
    background-color: var(--b2b-color-grey-25);
    color: var(--b2b-color-grey-250);
    border-color: var(--b2b-color-grey-200);
    opacity: 1;
  }
}
