@use '../../global/b2b-styles';

:host {
  --b2b-icon-line-height: inherit;
  --b2b-icon-cursor: default;
  --b2b-icon-width: var(--b2b-size-60);
  --b2b-icon-height: var(--b2b-size-60);

  .b2b-icon {
    display: inline-flex;
    vertical-align: middle;
    line-height: var(--b2b-icon-line-height);
    cursor: var(--b2b-icon-cursor);

    &--clickable {
      cursor: pointer;
    }

    &.b2b-icon--50 {
      width: var(--b2b-size-40);
      height: var(--b2b-size-40);
    }

    &.b2b-icon--variant-50 {
      width: var(--b2b-size-30);
      height: var(--b2b-size-30);
    }

    &.b2b-icon--variant-100 {
      width: var(--b2b-icon-width);
      height: var(--b2b-icon-height);
      min-width: var(--b2b-size-60);
      min-height: var(--b2b-size-60);
    }

    &.b2b-icon--100 {
      width: var(--b2b-size-60);
      height: var(--b2b-size-60);
    }

    &.b2b-icon--200 {
      width: var(--b2b-size-80);
      height: var(--b2b-size-80);
    }

    &.b2b-icon--primary {
      fill: var(--b2b-color-black-100);
    }

    &.b2b-icon--secondary {
      fill: var(--b2b-color-grey-200);
    }

    &.b2b-icon--inverse {
      fill: var(--b2b-color-white-100);
    }

    &.b2b-icon--inherit {
      fill: currentcolor;
    }
  }
}
