@font-face {
  font-family: OttoSans;
  src: url('https://pattern-library.portal.otto.market/static/assets/fonts/otto-sans.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OttoSans;
  src: url('https://pattern-library.portal.otto.market/static/assets/fonts/otto-sans-bold.woff')
      format('woff'),
    url('https://pattern-library.portal.otto.market/static/assets/fonts/otto-sans-bold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OttoSans;
  src: url('https://pattern-library.portal.otto.market/static/assets/fonts/otto-sans-thin.woff')
      format('woff'),
    url('https://pattern-library.portal.otto.market/static/assets/fonts/otto-sans-thin.ttf')
      format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: ObcIcons;
  src: url('https://pattern-library.portal.otto.market/static/assets/fonts/obc-icons.woff');
}
