on:
  workflow_call:
    inputs:
      node_version:
        description: 'Node Version'
        required: true
        type: string

jobs:
  docker-compose:
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'

      - name: Use Cache dependencies
        id: node-modules-cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            ./packages/**/node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Start Containers
        run: docker-compose up --build
      
      - name: Upload visual test results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: visual-regression-differences
          path: ./packages/core-components/__snapshots__/__diff_output__
          retention-days: 10