on:
  workflow_call:
    inputs:
      node_version:
        description: 'Node Version'
        required: true
        type: string

jobs:
  publish_artifacts:
    name: Release and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Use Cache dependencies
        id: node-modules-cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            ./packages/**/node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Build
        run: npm run build

      - name: Bump Version
        run: npm run bump-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Publish Release
        run: ./scripts/publish.sh ${{ github.ref_name }}