name: Release
on:
  workflow_dispatch:

jobs:
  install:
    name: Install Dependencies
    uses: ./.github/workflows/install.yml
    with:
      node_version: 24

  validations:
    name: Validations
    needs: [ install ]
    uses: ./.github/workflows/validations.yml
    with:
      node_version: 24

  publish_packages:
    name: Publish Packages
    needs: [ validations ]
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/alpha'
    uses: ./.github/workflows/publish.yml
    permissions:
      packages: write
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    with:
      node_version: 24
