on:
  workflow_call:
    inputs:
      node_version:
        description: 'Node Version'
        required: true
        type: string
jobs:
  build-sanity-check:
    name: Build Sanity Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'

      - name: Use Cache dependencies
        id: node-modules-cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            ./packages/**/node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Build all workspaces
        run: npm run build -ws

  lint_and_test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use cached dependencies
        id: node-modules-cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            ./packages/**/node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Install
        uses: browser-actions/setup-chrome@v1

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test
